.other {
    padding: 20px;

    @media (min-width: @tablet-width) {
        min-width: 708px;
        
    }

    @media (min-width: @desktop-width) {
        width: 1221px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-column-gap: 79px;
    }
}

.other__title { 
    color: @color-black;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin: 0;

    position: relative;
    padding-bottom: 36px;
    border-bottom: 1px solid #CDCDCD;

    &::after {
            position: absolute;
            top: 15px;
            right: -22px;
            content: "";
            width: 53px;
            height: 2px;
            background-color: @color-green;
    }

    @media (min-width: @tablet-width) {
        font-size: 36px;
        line-height: 36px;
        border-bottom: none;
        padding-bottom: 80px;

        &::after {
            width: 55%;
            top: 23px;
            right: 0;
            left: 350px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 23px;
            width: 30px;
            height: 2px;
            background-color: @color-green;
            left: -40px;
        }
    }

    @media (min-width: @desktop-width) {
        grid-column: 1;
        grid-row: 1;

        &::after {
            width: 900px;
            top: 23px;
            right: 0;
            left: 350px;
        }
    }
}

.other__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 19px;

    @media (min-width: @tablet-width) {
        border: 1px solid #CDCDCD;
        padding: 0 30px;
        margin: 0 auto;
    }

    @media (min-width: @desktop-width) {
        grid-column: 1;
        padding: 0;
        border: none;
        width: 896px;
    }
}

.other__item {
    padding-bottom: 19px;
    border-bottom: 1px solid #CDCDCD;

    @media (min-width: @tablet-width) {
        border: none;
    }

    @media (min-width: @desktop-width) {
        width: 895px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #CDCDCD;
        padding-top: 25px;
        padding-bottom: 21px;

        &:first-of-type {
            border-top: 1px solid #CDCDCD;
        }
    }
}

.card-header {
    @media (min-width: @tablet-width) {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 25px;  
    }

    @media (min-width: @desktop-width) {
        width: 620px;
        padding: 0;
    }
}

.other-card__title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-top: 13px;
    margin-bottom: 13px; 

    @media (min-width: @tablet-width) {
        margin: 0;
    }
}

.other-card__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;

    @media (min-width: @tablet-width) {
        width: 180px;
        justify-content: space-between;
    }

    @media (min-width: @desktop-width) {
        width: 290px;
        justify-content: space-between;
    }
}

.other-card__text {
    font-family: @font-arial;
    color: @color-gray;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
}

.other-card__button {
    display: block;
    padding: 10px;
    
    @media (min-width: @desktop-width) {
        
        padding: 8px 90px;
    }
}